@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --text-xxs: 11px;

  --breakpoint-xxs: 30rem;
  --breakpoint-xs: 37.5rem;

  --color-white: oklch(1 0 0);
  --color-gray-200: oklch(0.8985 0.0029 308.42);
  --color-gray-400: oklch(0.7678 0.0164 251.62);
  --color-purple-950: oklch(0.2029 0.0748 310.51);
  --color-red-400: oklch(0.6782 0.2099 24.69);
  --color-link: oklch(0.4657 0.1321 270.05);

  --gradient-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /* (active input border) */
}
